/* LAYOUT */

/*===============================================================================*/
/* Body */

body{

	font-family: 'MyriadPro-Regular';
	overflow-x: hidden;
	background-color: #F5F5F7;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('MyriadPro/MyriadPro-Regular.otf') format("opentype");
}


@font-face {
    font-family: 'MyriadPro-Semibold';
    src: url('MyriadPro/MyriadPro-Semibold.ttf') format("truetype");
}

@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('MyriadPro/MyriadPro-Bold.otf') format("opentype");
}

.backgroundcolor {
	background: rgb(229,229,229);
	height: 540px;
}

h1{
	font-family: 'MyriadPro-Semibold';
}

h2{
	font-family: 'MyriadPro-Regular';
	font-size: 18px;
	color: rgb(134,134,139);
}

h3{
	font-family: 'MyriadPro-Regular';
	font-size: 12px;
	color: rgb(134,134,139);
}

.titles{
	font-size: 50px;
	text-align: center;
	color: black;
}

.titles-xs{
	font-size: 35px;
	text-align: center;
	color: black;
}

.subtitles{
	font-size: 26px;
	color: black;
}


/*===============================================================================*/
/* NavBar */

nav.navbar-default{
	padding: 10px 10px;
	background-color: #FCFCFD;
}

.home-link{
	font-family: 'MyriadPro-Semibold';
	font-size: 18px;
	color: black;
	text-align: left;
	margin: auto;
	transition: background 0.4s, color 0.4s;
}

.home-link:hover{
	font-family: 'MyriadPro-Bold';
	color: black;
}


/*===============================================================================*/
/* About */

#about{
	height: 100%;
	padding-top: 80px;
	padding-bottom: 40px; 
}

.img-profile{

    width: 20%;
    padding-top: 80px;
    display: block;
	margin: auto;
    
}

.img-profile-xs{

	width: 35%;
    padding-top: 65px;
    display: block;
	margin: auto;
}

.text-name {
	font-family: 'MyriadPro-Semibold';
	text-align: center;
	color: black;
	vertical-align: middle;
	font-size: 26px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.text-about{

	color: black;
	text-align: center;
	font-size: 26px;
	font-weight: 100;
	letter-spacing: 1px;
	padding-bottom: 60px;
	width: 75%;
	margin: auto;
}

.text-about-xs{

	color: black;
	text-align: center;
	font-size: 17px;
	font-weight: 100;
	letter-spacing: 1px;
	padding-bottom: 60px;
	width: 80%;
	margin: auto;
}

.btn-custom{

	color: white;
	background-color: black;

	font-family: 'MyriadPro-Regular';
	font-size: 18px;

	border-radius: 500px;
	border: 2px solid black;
	
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	
	padding: 10px 40px;
	margin: auto;
	transition: background 0.4s, color 0.4s;
}

.btn-custom-sm{

	color: white;
	background-color: black;

	font-family: 'MyriadPro-Regular';
	font-size: 14px;

	border-radius: 500px;
	border: 2px solid black;
	
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	
	padding: 10px 30px;
	margin: auto;
	transition: background 0.4s, color 0.4s;
}

.btn-custom:hover{
	color: white;
}


.btn-custom-sm:hover{
	color: white;
}

.medias{
	width: 25%;
	margin: auto;
}

.medias-sm{
	width: 60%;
	margin: auto;
}

.btn-logos{
	width: 60%;
	opacity: 0.75;
	display: inline-block;
	transition: background 0.4s, color 0.4s;
}

.btn-logos-sm{
	width: 60%;
	opacity: 0.75;
	margin: 10px;
	transition: background 0.4s, color 0.4s;
}

.btn-logos:hover{
	opacity: 1;
}


.btn-logos-sm:hover{
	opacity: 1;
}


/*===============================================================================*/
/* Top shelf */

#top_shelf{
	height: 100%;
	padding-top: 80px;
	padding-bottom: 40px; 
}

.top-shelf-iphone{
	padding-top: 40px;
	padding-bottom: 40px;
}

.img-top-shelf{
	width: 80%;
	padding-bottom: 25px;
	margin: auto;
}

.img-top-shelf-xs{
	width: 50%;
	padding-top: 40px;
	padding-bottom: 25px;
	margin: auto;
}

.text-top-shelf{
	font-family: 'MyriadPro-Regular';
	color: black;
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
	width: 70%;
	margin: auto;
}

.text-top-shelf{
	font-family: 'MyriadPro-Regular';
	color: black;
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
	width: 70%;
	margin: auto;
}


/*===============================================================================*/
/* Projects */

#projects{
	height: 100%;
	padding-top: 80px;
	padding-bottom: 40px; 
}

.card {
	/* background: url('images/card.png'); */
	/* background-size: 100%; */
	background-color: #FCFCFD;
	margin-top: 40px;
	border-radius: 25px;
	padding: 20px;
	padding-bottom: 10px;
	box-shadow: 1px 1px 1px 1px #00000005;
	-webkit-box-shadow: 1px 1px 1px 1px #00000005;
  	-moz-box-shadow: 1px 1px 1px 1px #00000005;
}

.card-xs {
	background-color: #FCFCFD;
	margin-top: 40px;
	border-radius: 25px;
	padding: 20px;
	padding-bottom: 10px;
	box-shadow: 1px 1px 1px 1px #00000005;
	-webkit-box-shadow: 1px 1px 1px 1px #00000005;
  	-moz-box-shadow: 1px 1px 1px 1px #00000005;
}

.img-projects{
	/* background-color: #25D366; */
	padding: 0px;
	padding-bottom: 10px;
	width: 100%;
	margin: auto;
}

.links-projects{
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
}

.btn-link-md{
	color: rgb(40, 102, 197);
	font-family: 'MyriadPro-Regular';
	text-align: left;
	font-size: 13px;
	padding: 0px;
	margin-bottom: 10px;
}

/*===============================================================================*/
/* Publications */

#publications{
	height: 100%;
	padding-top: 80px;
	padding-bottom: 40px; 
}

.card-publications{
	background-color: #FCFCFD;
	margin: 0px;
	margin-top: 40px;
	border-radius: 25px;
	padding: 0px;
	padding-bottom: 20px;
	box-shadow: 1px 1px 1px 1px #00000005;
	-webkit-box-shadow: 1px 1px 1px 1px #00000005;
  	-moz-box-shadow: 1px 1px 1px 1px #00000005;
}

.card-publications-xs{
	background-color: #FCFCFD;
	margin: auto;
	margin-top: 80px;
	width: 90%;
	border-radius: 25px;
	padding: 0px;
	padding-bottom: 20px;
	box-shadow: 1px 1px 1px 1px #00000005;
	-webkit-box-shadow: 1px 1px 1px 1px #00000005;
  	-moz-box-shadow: 1px 1px 1px 1px #00000005;
}

.title-publications{
	font-size: 26px;
	padding: 20px;
	text-align: center;
	color: black;
}

.description-publications{
	font-family: 'MyriadPro-Regular';
	color: black;
	text-align: center;
	font-size: 20px;
	padding: 20px;
	padding-top: 0px;
	margin: auto;
}

.img-publications{
	width: 100%;
	margin: 0px;
	border-radius: 25px 25px 0px 0px;
}

.link-publications{
	padding: 20px;
	text-align: center;
	color: rgb(40, 102, 197);
	font-family: 'MyriadPro-Regular';
}

/*===============================================================================*/
/* Footer */

footer{
	border-top: 2px;
	border-color: rgb(134,134,139);
	padding: 50px 0 50px 0;
	margin: auto;
}