/* LAYOUT */

/*===============================================================================*/
/* Body */

body{

	font-family: 'MyriadPro-Regular';
	overflow-x: hidden;
	background: rgba(229,229,229, 1);
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('MyriadPro/MyriadPro-Regular.otf') format("opentype");
}


@font-face {
    font-family: 'MyriadPro-Semibold';
    src: url('MyriadPro/MyriadPro-Semibold.ttf') format("truetype");
}

@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('MyriadPro/MyriadPro-Bold.otf') format("opentype");
}

.backgroundcolor {
	background: rgb(229,229,229);
	height: 540px;
}

h1{
	font-family: 'MyriadPro-Semibold';
}

h2{
	font-family: 'MyriadPro-Regular';
	font-size: 18px;
	color: rgb(134,134,139);
}

h3{
	font-family: 'MyriadPro-Regular';
	font-size: 12px;
	color: rgb(134,134,139);
}

.titles{
	font-size: 50px;
	text-align: center;
	color: black;
}

.titles-xs{
	font-size: 35px;
	text-align: center;
	color: black;
}

.subtitles{
	font-size: 26px;
	color: black;
}


/*===============================================================================*/
/* NavBar */

nav.navbar-default{
	padding: 10px 10px;
	background: white;
	border-color: white;
}

.home-link{
	font-family: 'MyriadPro-Semibold';
	font-size: 18px;
	color: black;
	text-align: left;
	margin: auto;
	transition: background 0.4s, color 0.4s;
}

.home-link:hover{
	color: black;
}

.navbar-links{
	font-family: 'MyriadPro-Regular';
	font-size: 15px;
	color: rgb(134, 134, 134);
	text-align: left;
	margin: auto;
	transition: background 0.4s, color 0.4s;
}

.navbar-links:hover{
	color: black;
}


/*===============================================================================*/
/* About */

#about{
	height: 100%;
	padding-top: 80px;
	padding-bottom: 40px; 
}

.img-profile{

    width: 20%;
    padding-top: 80px;
    display: block;
	margin: auto;
    
}

.img-profile-xs{

	width: 35%;
    padding-top: 65px;
    display: block;
	margin: auto;
}

.text-name {
	font-family: 'MyriadPro-Semibold';
	text-align: center;
	color: black;
	vertical-align: middle;
	font-size: 26px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.text-about{

	color: black;
	text-align: center;
	font-size: 26px;
	font-weight: 100;
	letter-spacing: 1px;
	padding-bottom: 60px;
	width: 75%;
	margin: auto;
}

.text-about-xs{

	color: black;
	text-align: center;
	font-size: 17px;
	font-weight: 100;
	letter-spacing: 1px;
	padding-bottom: 60px;
	width: 80%;
	margin: auto;
}

.btn-custom{

	color: white;
	background-color: black;

	font-family: 'MyriadPro-Regular';
	font-size: 18px;

	border-radius: 500px;
	border: 2px solid black;
	
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	
	padding: 10px 40px;
	margin: auto;
	transition: background 0.4s, color 0.4s;
}

.btn-custom-sm{

	color: white;
	background-color: black;

	font-family: 'MyriadPro-Regular';
	font-size: 14px;

	border-radius: 500px;
	border: 2px solid black;
	
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	
	padding: 10px 30px;
	margin: auto;
	transition: background 0.4s, color 0.4s;
}

.btn-custom:hover{
	color: white;
}


/*===============================================================================*/
/* Top shelf */

#top_shelf{
	height: 100%;
	padding-top: 80px;
	padding-bottom: 40px; 
}

.top-shelf-iphone{
	padding-top: 40px;
	padding-bottom: 40px;
}

.img-top-shelf{
	width: 80%;
	padding-bottom: 25px;
	margin: auto;
}

.img-top-shelf-xs{
	width: 50%;
	padding-top: 40px;
	padding-bottom: 25px;
	margin: auto;
}

.text-top-shelf{
	font-family: 'MyriadPro-Regular';
	color: black;
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
	width: 70%;
	margin: auto;
}

.text-top-shelf{
	font-family: 'MyriadPro-Regular';
	color: black;
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
	width: 70%;
	margin: auto;
}


/*===============================================================================*/
/* Projects */

#projects{
	height: 100%;
	padding-top: 80px;
	padding-bottom: 40px; 
}

.card {
	/* background: url('images/card.png'); */
	/* background-size: 100%; */
	background-color: white;
	margin-top: 40px;
	border-radius: 25px;
	padding: 20px;
	padding-bottom: 10px;
}

.img-projects{
	/* background-color: #25D366; */
	padding: 0px;
	padding-bottom: 10px;
	width: 100%;
	margin: auto;
}

.links-projects{
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
}

.btn-link{
	color: rgb(40, 102, 197);
	font-family: 'MyriadPro-Regular';
	text-align: left;
	font-size: 13px;
	padding: 0px;
	margin-bottom: 10px;
}

.btn-link-md{
	color: rgb(40, 102, 197);
	font-family: 'MyriadPro-Regular';
	text-align: left;
	font-size: 14px;
	padding: 0px;
	margin-bottom: 10px;
}

/*===============================================================================*/
/* Contato */

#contato{

	height: 100%;
	background: rgb(0,0,0);
	padding-top: 80px;
	padding-bottom: 20px; 
}

.contato-bg{

	background: rgb(64,64,64);
	margin: 50px -2px;
}

.titulo-contato{

	color: rgb(240,240,240);
	text-align: center;
	font-size: 17px;
	font-weight: 100;
	letter-spacing: 1.5px;
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
}

.contato-normal{

	background: rgb(64,64,64);
	padding: 10px 30px 10px 30px;

	color: rgb(240,240,240);
	text-align: left;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 1.5px;
}

.contato-sm{

	background: rgb(64,64,64);
	padding: 10px 30px 10px 30px;

	color: rgb(240,240,240);
	text-align: left;
	font-size: 10px;
	font-weight: 100;
	letter-spacing: 1.5px;
}

.whats-img{

	width: 17px;
}


/*===============================================================================*/
/* Reportagem 1 */

.titulos-rep{

	font-family:'MyriadPro-Cond';
	font-size: 50px;
	font-weight: 900;
	letter-spacing: 0em;
	text-align: center;
	color: rgb(255,255,255);
	
	padding-bottom: 20px;
	padding-top: 130px;
}

.titulos-xs-rep{

	font-family: 'MyriadPro-Cond';
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 0em;
	text-align: center;
	color: rgb(255,255,255);

	padding-bottom: 20px;
	padding-top: 130px;
}

.texto-rep-1{

	color: rgb(240,240,240);
	text-align: left;
	font-size: 13px;
	font-weight: 100;
	letter-spacing: 1.5px;
	padding-top: 40px;
	padding-bottom: 20px;
	padding-left: 15px;
}


/*===============================================================================*/
/* Rodapé */

footer{
	border-top: 2px;
	border-color: rgb(134,134,139);
	padding: 50px 0 50px 0;
	margin: auto;
}